<div class="stats_container">
  <div class="stats" *ngIf="stats.length > 0">
    <hr id="fh" />
    <h4>Stats of Possible Things to Learn:</h4>
    <p>Total:</p>
    <p class="num">{{ total }}</p>
    <drag-scroll
      style="width: 100%; height: 100%"
      [drag-scroll-y-disabled]="true"
    >
      <div class="complete" drag-scroll-item *ngFor="let s of stats">
        <p>{{ s.category }}:</p>
        <p class="num">{{ s.complete_count }}</p>
      </div>
    </drag-scroll>
    <hr />
    <p>Categories - Time</p>
    <drag-scroll
      style="width: 100%; height: 100%"
      [drag-scroll-y-disabled]="true"
    >
      <div class="chart_container">
        <ngx-charts-bar-vertical-stacked
          [view]="[2000, 500]"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [legendTitle]="legendTitle"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="time_xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [legendPosition]="legendPosition"
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </drag-scroll>
    <hr />
    <p>Categories - Money</p>
    <drag-scroll
      style="width: 100%; height: 100%"
      [drag-scroll-y-disabled]="true"
    >
      <div class="chart_container">
        <ngx-charts-bar-vertical-stacked
          [view]="[2000, 500]"
          [scheme]="colorScheme"
          [results]="multi2"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [legendTitle]="legendTitle"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="money_xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [legendPosition]="legendPosition"
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </drag-scroll>
  </div>
  <button (click)="createStats()" *ngIf="stats.length === 0">
    Learn about the Statistic of the Possible Things to Learn
  </button>
</div>
