@import "../colors.css";

.stats_container {
  font-size: 90%;
  margin: 0 3vw;
  height: auto;
}

p {
  margin: 0;
}

.num {
  font-weight: normal !important;
}

.stats {
  margin: 0.5em;
  padding: 0.5em;
}

.stats p {
  font-weight: bold;
  margin-bottom: 0;
}

drag-scroll {
  height: 100%;
  width: 100%;
  margin: 6vh;
  margin-left: 0;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar {
  -webkit-appearance: none;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar:vertical {
  width: 1vw;
  background-color: rgb(233, 245, 233);
}

::ng-deep .drag-scroll-content::-webkit-scrollbar-thumb {
  border-radius: 1em;
  border: 2px solid none !important; /* should match background, can't be transparent */
  background-color: var(--blue-s);
}

.chart-container {
  overflow-x: scroll;
}

::ng-deep .ngx-charts {
  fill: var(--fg) !important;
}

::ng-deep .chart-legend {
  display: block !important;
}

hr {
  border: 1px dashed var(--fg2);
  margin-bottom: 3vh;
}

#fh {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.complete {
  margin: 0 2vw;
}

.complete p {
  margin: 0;
}

h4 {
  color: var(--yellow-s);
}
