<h4>Select the Categories!</h4>

<form id="form" (submit)="select_categories($event)">
  <div class="checkboxes">
    <div class="categories" *ngFor="let category of categories">
      <div class="outer first">
        <label>
          <input
            name="{{ category.category }}"
            type="checkbox"
            (change)="checkValue($event)"
            hidden
          />
          <span class="ck-button">{{ category.category }}</span>
        </label>
      </div>
      <div class="outer" *ngFor="let sub of category.sub_categories">
        <label>
          <input id="{{ sub }}" name="{{ sub }}" type="checkbox" hidden />
          <span class="ck-button">{{ sub }}</span>
        </label>
      </div>
    </div>
  </div>
  <button type="submit">I have chosen the Categories!</button>
</form>
