@import "colors.css";

.box {
  margin: 5vh 0;
  padding-bottom: 1em;
  border-color: var(--fg4);
  border-style: solid;
  border-radius: 1em;
}

.output {
  background-color: var(--bg0-s);
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 3vh;
}

#learn {
  background-color: var(--blue);
  border-radius: 1em;
  padding: 1vh 0;
}

.italic {
  font-style: italic;
  font-size: 80%;
}

.contribute {
  margin-top: 3vh;
}
